.calculator_hours {
  height: 100%;
}
.calc {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.left {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.1em;
  padding-right: 1rem;
  font-weight: 300;
}

.left p:first-child {
  font-size: 2rem;
  margin-top: 2rem;
}

.left p:last-child {
  font-size: 2rem;
  margin-top: 2rem;
}

.right {
  font-size: 4rem;
}

.right p {
  font-weight: 300;
}

.highlight {
  width: 2rem;
}

.highlight_input {
  width: 6rem;
  margin-right: 1rem;
  border: none;
  border-bottom: 2px solid #cc17fa;
  background: transparent;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .right {
    font-size: 2rem;
  }
  .left {
    margin: 0;
  }
  .left p:first-child {
    margin: 0;
  }
  .left p:last-child {
    margin-top: 3.5rem;
  }
}
