.app_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
  margin-bottom: 8rem;
}

.accordions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 2rem;
  min-width: 320px;
  max-width: 1200px;
}

.bold {
  font-weight: 500;
  font-size: 4rem;
}

.text_content {
  letter-spacing: 0.1em;
  color: rgb(36, 36, 36);
}

.hidden {
  display: none;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 960px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .right {
    font-size: 2rem;
  }
  .bold {
    font-size: 2rem;
  }

  .left p:last-child {
    font-size: 2rem;
    margin-top: 2rem;
  }
}
