@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: ;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 960px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .bold {
    font-size: 2.5rem;
  }
}
